#hp-l {
    text-align: center;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

#navBox {
    display: block;
    text-align: center;
    border-bottom-style: solid; 
    border-bottom-color: red;
    border-bottom-width: 5px; 
    position: relative;
    top: 5%; bottom: 5%; left: 0; right: 0;
    
}

#navLink {
    
    text-align: center;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#TeslaLogo {
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 5%; bottom: 5%; left: 0; right: 0;
    
}

.text-center {
    text-align: center;
}

#Model-S{

    width: 750px;

}

#model{

    text-align: left;
    padding-left: 150px;
    
}

#range {
  padding-left: 25px;
}

ul {
    list-style-type: none;
}

#text-body {
    padding-left: 25px;
}

#specs {
    padding-left: 25px;
}