#TeslaLogo {
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 5%; bottom: 5%; left: 0; right: 0;
    
}

.text-center {
    text-align: center;
}

#Model-S{

    width: 750px;

}